* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #3f3852;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Design */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f1eefa;
    color: #3f3852;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dcd5f0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.sidebar-logo {
    width: 40px;
    height: 40px;
}

.sidebar-title h1,
.sidebar-title h3 {
    margin: 0;
}

.sidebar-title h1 {
    font-size: 24px;
}

.sidebar-title h3 {
    font-size: 14px;
    font-weight: normal;
}

.sidebar-header h1 {
    margin-bottom: 0;
}

.sidebar-header h3 {
    margin-top: 0;
}

.sidebar-menu {
    padding-top: 10px;
}

.sidebar-menu h4 {
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: auto;
    margin-left: 10px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 20px;
    margin: 0 10px;
    font-size: 17px;

    color: #3f3852;
    text-decoration: none;
    background-color: transparent;

    transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
    border-radius: 5px;
}

.sidebar-menu a.active {
    background-color: #dcd5f0;
    color: #6d5ba6;
    border-radius: 5px;
}

.sidebar-menu svg {
    width: 18px;
    height: 18px;
}

.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid #dcd5f0;
}

/* Main Content Design */

.main-content {
    flex: 1;
    background-color: #faf9fd;
}

.main-content-header {
    padding: 0 30px;
    font-size: 12px;
    border-bottom: 1px solid #d3d3d3;
}

.main-content-header h2 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-content-header svg {
    height: 20px;
    width: 20px;
}

/* Main Body Title Design */

.main-dashboard-title,
.main-ticket-information-title,
.main-create-ticket-title,
.main-ticket-list-title,
.main-knowledge-base-title {
    padding-left: 30px;
    padding-bottom: 0;
}

.main-dashboard-title h1,
.main-ticket-information-title h1,
.main-create-ticket-title h1,
.main-ticket-list-title h1,
.main-knowledge-base-title h1 {
    margin-bottom: 0;
}

.main-dashboard-title p,
.main-ticket-information-title p,
.main-create-ticket-title p,
.main-ticket-list-title p,
.main-knowledge-base-title p {
    margin-top: 0;
}

/* Dashboard Design */

.main-dashboard-cards {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.card {
    flex: 1;
    min-width: 0;

    padding: 0 20px;

    margin: 5px 20px;

    background-color: white;
    color: #3f3852;

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d3d3d3;

    transition: background-color 0.3s ease, color 0.3 ease;
}

.card:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

.main-dashboard-cards h3 {
    display: flex;
    align-items: center;
    gap: 5px;

    padding-top: 10px;
    font-size: 17px;
}

.main-dashboard-ticket-tracker {
    display: flex;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
}

.main-dashboard-recent-tickets,
.main-knowledge-base-articles {
    flex: 1;
    min-width: 0;

    margin-top: 20px;
    padding: 20px;

    background-color: white;
    color: #3f3852;

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d3d3d3;

    transition: background-color 0.3s ease, color 0.3 ease;

    display: flex;
    flex-direction: column;

}

.main-dashboard-recent-tickets a,
.main-knowledge-base-articles a {
    display: block;
    padding: 10px 0;

    color: #3f3852;
    text-decoration: none;
    background-color: transparent;

    transition: background-color 0.3s ease;
}

.main-dashboard-recent-tickets a:hover,
.main-knowledge-base-articles a:hover {
    background-color: #dcd5f0;
}

.main-dashboard-recent-tickets h2,
.main-knowledge-base-articles h2 {
    border-bottom: 1px solid #d3d3d3;
    margin-top: 0;
}

.main-dashboard-recent-tickets-list {
    max-height: 200px;
    overflow-y: auto;
}

.main-dashboard-priority-tickets {
    flex: 1;
    min-width: 0;

    margin-top: 20px;
    padding: 20px;

    background-color: white;
    color: #3f3852;

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d3d3d3;

    transition: background-color 0.3s ease, color 0.3 ease;

    display:flex;
    flex-direction: column;
}

.main-dashboard-priority-tickets h2 {
    margin-top: 0;
    border-bottom: 1px solid #d3d3d3;
}

.main-dashboard-priority-tickets a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    color: #3f3852;
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 0.3s, color 0.3s ease;
}

.main-dashboard-priority-tickets a:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

.main-dashboard-view-all-tickets {
    margin-top: auto;
}

.main-dashboard-ticket-activity-title {
    padding-left: 30px;
}

.main-dashboard-ticket-activity {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-dashboard-ticket-activity-chart {
    padding-left: 30px;
    width: 50%;
}

.main-dashboard-ticket-activity-today {
    padding-left: 30px;
    flex: 1;
}


/* Create a Ticket Design */

.main-create-ticket-body {
    display: grid;
    padding: 0 30px;
    grid-template-columns: 30% 30% 1fr;
    gap: 20px;
}

.main-create-ticket-user-information,
.main-create-ticket-ticket-information {
    display: flex;
    flex-direction: column;
}

.main-create-ticket-user-information input {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    max-width: 70%;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

.main-create-ticket-user-information input[readonly] {
    border: transparent;
    background-color: #faf9fd;
}

.main-create-ticket-ticket-information select {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    max-width: 70%;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

.main-create-ticket-subject-and-description {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
}

/* Create Ticket Button Design */

.main-create-ticket-buttons {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.main-create-ticket-buttons-cancel,
.main-create-ticket-buttons-create {
    display: flex;
    align-items: center;
    gap: 5px;

    min-width: 100px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.main-create-ticket-buttons-cancel svg,
.main-create-ticket-buttons-create svg {
    height: 20px;
    width: 20px;
}

.main-create-ticket-buttons-cancel {
    background-color: white;
    color: #3f3852;
    border: 1px solid #3f3852;
}

.main-create-ticket-buttons-create {
    background-color: #3f3852;
    color: white;
    border: 1px solid #3f3852;
}

.main-create-ticket-buttons-cancel:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

.main-create-ticket-buttons-create:hover {
    background-color: #6d5ba6;
}

/* Create Ticket Text Area and Input Design */

.main-create-ticket-subject-and-description textarea,
.main-create-ticket-subject-and-description input {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    max-width: 60%;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

.main-create-ticket-subject-and-description textarea {
    resize: none;
    height:70px;
}

/* Main Ticket Page Design */
.main-ticket-information-body {
    display: grid;
    padding: 0 30px;
    grid-template-columns: 30% 30% 1fr;
    gap: 20px;
}

.main-ticket-information-ticket-number {
    padding-left: 30px;
}

.main-ticket-information-ticket-number input {
    padding: 5px;
    background-color: #faf9fd;
    color: #3f3852;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

/* Ticket Information - User and Ticket Information Design */

.main-ticket-information-user-information,
.main-ticket-information-ticket-information {
    display: flex;
    flex-direction: column;
}

.main-ticket-information-user-information input,
.main-ticket-information-ticket-information :is(select, input) {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    max-width: 70%;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

.main-ticket-information-user-information input[readonly] {
    border: transparent;
    background-color: #faf9fd;
}

/* Ticket Information Subject, Description, and Worknotes Design */

.main-ticket-information-subject-and-description :is(textarea, input),
.main-ticket-information-worknotes textarea {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    max-width: 60%;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

.main-ticket-information-subject-and-description textarea,
.main-ticket-information-worknotes textarea {
    resize: none;
    height: 70px;
}

.main-ticket-information-subject-and-description {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
}

.main-ticket-information-worknotes {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
}

/* Ticket Information Buttons Design */

.main-ticket-information-buttons {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;
    gap: 10px;
    border-top: 1px solid #dcd5f0;
}

.main-ticket-information-worknotes-buttons-publish {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

#main-ticket-information-buttons-cancel,
#main-ticket-information-buttons-save-changes, /**/
#main-ticket-information-buttons-resolve,
#main-ticket-information-worknotes-buttons-publish,
#main-ticket-information-buttons-reopen {
    display: flex;
    align-items: center;
    gap: 10px;

    min-width: 100px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#main-ticket-information-buttons-cancel svg,
#main-ticket-information-buttons-save-changes svg, /**/
#main-ticket-information-buttons-resolve svg,
#main-ticket-information-worknotes-buttons-publish svg,
#main-ticket-information-buttons-reopen svg { 
    height: 20px;
    width: 20px;
}

#main-ticket-information-buttons-cancel,
#main-ticket-information-buttons-save-changes,
#main-ticket-information-worknotes-buttons-publish,
#main-ticket-information-buttons-reopen { /**/
    background-color: white;
    color: #3f3852;
    border: 1px solid #3f3852;
}

#main-ticket-information-buttons-resolve {
    background-color: #3f3852;
    color: white;
    border: 1px solid #3f3852;
}

#main-ticket-information-buttons-cancel:hover,
#main-ticket-information-buttons-save-changes:hover,
#main-ticket-information-worknotes-buttons-publish:hover
#main-ticket-information-buttons-reopen:hover { /**/
    background-color: #dcd5f0;
    color: #6d5ba6;

}

#main-ticket-information-buttons-resolve:hover {
    background-color: #6d5ba6;
}

#main-ticket-information-buttons-reopen {
    display:none;
}

.ticket-resolved {
    background-color: #e5e5e5 !important;
    color: #777777 !important;
    cursor: not-allowed;
}


/* Ticket List Design */
.main-ticket-list-filter,
.ticket-row {
    display: grid;
    padding: 0 30px;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #e5e1ed;
}

.ticket-row a {
    color: #6d5ba6;
    font-weight: 600;
    text-decoration: none;
}

.ticket-row a:hover {
    text-decoration: underline;
}

.ticket-row:nth-child(odd) {
    background-color: #f5f2fa;
}

.ticket-row:nth-child(even) {
    background-color: white;
}

.main-ticket-list-filter {
    background-color: white;
    gap: 10px;
}

.ticker-row span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ticket-row:hover {
    background-color: #dcd5f0;
}

.main-ticket-list-filter-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-ticket-list-filter-item input,
.main-ticket-list-filter-item select {
    padding: 5px;
    background-color: white;
    color: #3f3852;

    box-sizing: border-box;

    border-radius: 8px;
    border: 1px solid #3f3852;

    max-height: 40px;
    opacity: 1;

    transition: 
        max-height 0.3s ease,
        opacity 0.3s ease,
        padding 0.3s ease,
        border-width 0.3s ease;
}

.main-ticket-list-filter {
    margin-bottom: 20px;
}

.main-ticket-list-filter-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Filter Collapse Design */
.main-ticket-list-filter.collapsed input, 
.main-ticket-list-filter.collapsed select {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
}

.main-ticket-list-filter.collapsed .main-ticket-list-filter-change {
    display: none;
}

/* Filter Button Design */
#main-ticket-list-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: calc(100% - 60px); /* this is to make the right margin not overfow */
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;

    background-color: white;
    color: #3f3852;

    font-weight: bold;

    border: 1px solid #3f3852;
    border-radius: 8px;

    cursor: pointer;

    transition: background-color 0.2s ease, color 0.2s ease;
}

#main-ticket-list-filter-button:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

#main-ticket-list-filter-button svg {
    width: 16px;
    height: 16px;
}

.main-ticket-list-filter-change {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#main-ticket-list-filter-clear {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: white;
    color: #3f3852;
    border: 1px solid #3f3852;
}

#main-ticket-list-filter-clear svg {
    height: 15px;
    width: 15px;
}

#main-ticket-list-filter-apply {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: #3f3852;
    color: white;
    border: 1px solid #3f3852;
}

#main-ticket-list-filter-apply svg {
    height: 15px;
    width: 15px;
}

#main-ticket-list-filter-clear:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

#main-ticket-list-filter-apply:hover {
    background-color: #6d5ba6;
}

#main-ticket-list-filter-clear,
#main-ticket-list-filter-apply {
    cursor: pointer;
    min-width: 100px;
    padding: 10px;
    border-radius: 15px;
}

.main-ticket-list-main-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ticket-list-no-results {
    padding: 30px;
    text-align: center;
    background-color: white;
    border: 1px solid #e5e1ed;
    border-radius: 5px;
    color: #3f3852;
}

.main-ticket-list-count {
    margin-top: 10px;
    color: #3f3852;
    font-size: 14px;
    text-align: center;
}

/*Knowledge Base Design */
.main-knowledge-base-search-bar {
    padding: 0 30px;
}

.main-knowledge-base-search-bar input{
    width: 80%;
    padding: 5px;
    box-sizing: border-box;

    background-color: white;
    color: #3f3852;

    border-radius: 8px;
    border: 1px solid #3f3852;
}

/* Knowledge Base Cards */
.main-knowledge-base-cards {
    display: flex;
    gap: 20px;
    width: 80%;
    padding: 0 30px;
}

.main-knowledge-base-cards-title {
    padding: 0 30px;
    margin-bottom: 1px;
}

.card-knowledge-base {
    flex: 1;
    min-width: 0;

    padding: 0 20px;

    margin-top: 10px;

    background-color: white;
    color: #3f3852;

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d3d3d3;

    transition: background-color 0.3s ease, color 0.3 ease;
}

.card-knowledge-base:hover {
    background-color: #dcd5f0;
    color: #6d5ba6;
}

.main-knowledge-base-articles {
    margin-left: 30px;
    width: 77%;
}

.main-knowledge-base-articles h2 {
    margin-top: 1px;
}

.main-knowledge-base-article {
    padding: 0 30px;
}